div(class='md-inline-form', layout='column', ng-cloak, ng-controller='optionsCtrl')
    md-toolbar
        div.md-toolbar-tools
            h2 Time Of Day
    md-content(layout-gt-sm='row', layout-padding)
        md-select(ng-model='selectedHours', placeholder='Hr')
            md-option(ng-value='hour', ng-repeat='hour in hours') {{hour.name}}
        md-select(ng-model='selectedMinutes', placeholder='Min')
            md-option(ng-value='minute', ng-repeat='minute in minutes') {{minute.name}}
        div(layout)
            md-input-container ON
                md-checkbox(ng-model='scheduleDevice.turnOn', value=false, aria-label='on')
            md-input-container OFF
                md-checkbox(ng-model='scheduleDevice.turnOff', value=false, aria-label='off')

    md-content(layout-gt-sm='row', layout-padding)
        div(layout)
            md-input-container Turn OFF @ Sunrise
                md-checkbox(ng-model='scheduleDevice.offAtSunrise', value=false, aria-label='off at sunrise')
            md-input-container Turn ON @ Sunset
                md-checkbox(ng-model='scheduleDevice.onAtSunset', value=false, aria-label='on at sunset')

    md-toolbar
        div.md-toolbar-tools
            h2 Occurence/Recurrence
    md-datepicker(ng-model='scheduleDevice.dateBegin', md-placeholder='Begin')
    md-datepicker(ng-model='scheduleDevice.dateEnd', md-placeholder='End')
    md-content(layout-gt-sm='row', layout-padding)
        div(layout)
            md-input-container Repeat Daily
                md-checkbox(ng-model='scheduleDevice.recurDaily', value=false, aria-label='repeat daily')
            md-input-container Repeat Weekly
                md-checkbox(ng-model='scheduleDevice.recurWeekly', value=false, aria-label='repeat weekly')

    div(layout)
        md-button(ng-click='apply("schedule")') Apply
            md-icon done
        md-button(ng-click='dismiss()') Cancel
            md-icon cancel
